.container {
  margin-bottom: 5px;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 23px 25px 23px 30px;
  cursor: pointer;
  outline: 0px;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(13, 17, 54);
  line-height: 1.5;
}

.description {
  transition: height 0.25s ease;
  height: 0;
}

.description_text {
  margin: 0;
  padding: 0px 30px 23px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  line-height: 1.75;
}

.description_open {
  height: auto;
}
