.product {
  padding: 0 10px;
  margin-bottom: 25px;
  position: relative;
}

.container {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  position: relative;
}

.image_container {
  padding: 5px;
}

.image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  margin: 5px;
}

.body_container {
  padding: 20px 25px 30px;
}

.name {
  font-size: 15px;
  color: rgb(13, 17, 54);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0px 7px;
}

.pieces {
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  position: relative;
}

.price {
  font-size: 15px;
  font-weight: 700;
  color: rgb(0, 158, 127);
}

.price_discount {
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 179, 105);
  font-style: italic;
  position: absolute;
  top: -10px;
  padding: 0 5px;
}

.price_discount::before {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: rgb(255, 179, 105);
  position: absolute;
  top: 50%;
  left: 0px;
}

.cart_button {
  border: 2px solid rgb(247, 247, 247);
  border-radius: 18px;
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  color: rgb(0, 158, 127);
  background-color: rgb(255, 255, 255);
}

.cart_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 158, 127);
  border-color: rgb(0, 158, 127);
}

.cart_button span {
  margin-left: 8px;
}

.cart {
  -webkit-filter: invert(35%) sepia(88%) saturate(766%) hue-rotate(129deg) brightness(105%) contrast(101%);
  filter: invert(35%) sepia(88%) saturate(766%) hue-rotate(129deg) brightness(105%) contrast(101%);
}

.cart_button:hover .cart {
  -webkit-filter: invert(100%) sepia(11%) saturate(7455%) hue-rotate(193deg) brightness(114%) contrast(111%);
  filter: invert(100%) sepia(11%) saturate(7455%) hue-rotate(193deg) brightness(114%) contrast(111%);
}

.discount {
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 24px;
  background-color: rgb(255, 173, 94);
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 12px;
}

.cart_button_cart {
  background-color: rgb(0, 158, 127);
  border: 2px solid rgb(247, 247, 247);
  border-color: rgb(0, 158, 127);
  border-radius: 18px;
  color: rgb(255, 255, 255);
  height: 36px;
  display: flex;
  align-items: center;
}

.cart_button_modify {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: unset;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.cart_button_quantity {
  margin: 0 10px;
}
